@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
a{
  white-space: nowrap;
}

:root{
  --main-text-card-title: 28px;
  --main-text-card-text: 16px;
  --main-text-card-subText: 10px;
  --main-text-card-heading: 20px;
  --main-text-card-heading: 20px;

  --main-col-primary: #162b34;
  --main-col-secondary: rgb(70, 70, 70);
  --main-col-light:rgb(173, 173, 173);
  --main-col-light-2:rgb(211, 211, 211)
}
html{
  overflow: hidden;
  overflow-y: scroll;
  margin: 0;
}
body{
  overflow-x: hidden;
  @apply text-primary
}


h1{
  @apply text-primary font-semibold text-3xl
}

h2{@apply text-primary font-semibold
}


h3{
  @apply text-secondary
}

h5{
  @apply text-secondary text-sm
}

p > a {
  @apply text-light underline
}

/* main{
  margin-top: 4rem;
} */


/* Globals */
.global-title{
  font-size: var(--main-text-card-heading);
  font-weight: 600;
}
.global-margin-top{
  margin-top: 16px;
}

/* Nav */

nav{
  @apply p-4
}

main{
  padding: 2rem;
  padding-bottom: 8rem;

  /* background-color: aqua; */
}
.main-children{
  margin-left: calc(12.5% - 2rem);
  margin-right: calc(12.5% - 2rem);
  padding-top: 0;
  padding-bottom: 0;
}
.nav-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: white;
  z-index: 10000000;
  position: relative;

}
/* nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.nav-search{
  z-index: 10;
  display: flex;
  gap: 8px;
  padding: 4px 16px 4px 16px;
  font-size: var(--main-text-card-text);
  background-color: white;
  border: 1px solid darkgray;
  border-radius: 16px;
  height: fit-content;
}

.nav-search > div{
  border-right: 1px solid lightgray;
  padding-right: 8px;
  cursor: pointer;
}
.nav-search > div:last-child{
  border-right:unset
}
.nav-links{
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}
.nav-links a{
  padding: 4px 8px 4px 8px;
  border-radius: 8px;
  margin: 0;
  place-self: center;
}

.nav-logo{
  display: flex;
  gap: 16px;
  font-size: var(--main-text-card-title);
  font-weight: 600;
  align-items: center;
}
.nav-logo-svg{
  width: 48px;
}
.nav-svg-profile{
  stroke-width: 3;
  stroke: darkgray;
}
.nav-menu-toggle{
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}
.nav-cal-btn{
  border-radius: 2rem;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.nav-cal-btn a {
  user-select: none;
}
.nav-cal-row{
  gap: 1rem;
}
.nav-cal-row > div{
  display: flex;
  align-items: center;
}
.nav-cal-row > div > a{
  margin: auto;
}
.nav-cal-btn:hover{
  background-color: var(--main-col-light-2);
}
.nav-active{
  background-color: var(--main-col-light);
  border-radius: 1rem;
}
.nav-active-container h3{
  padding: 0 1rem 0 1rem;
}

.nav-cal-select{
  color: white;
  background-color: var(--main-col-primary)!important
}

.button{
  padding: 4px 16px 4px 16px;
  border-radius: 16px;
  border: 1px solid darkgray;
  width: fit-content;
}

.nav-personalise-btn{
  box-shadow: 0px 0px 0px 0px rgb(256,256,256);
  transition: all 0.12s ease-in-out;
}
input[type="checkbox"]:checked + label {
  /* Your styles for the selected label here */
  box-shadow: 0px 0px 8px 1px grey;
}

.none-select{
  user-select: none;
  cursor:unset;
}
.nav-menu::-webkit-scrollbar{
  background-color: none;
  width: 8px;

}

.nav-menu::-webkit-scrollbar-thumb{
  background-color: var(--main-col-light);
  border-radius: 8px;
}

.location-list:hover{
  background-color: var(--main-col-light-2);
  border-color: var(--main-col-light-2);
  cursor: pointer;
}

.label-img{
  /* filter: blur(2px); */
  filter: brightness(0.7) opacity(0.7);
  transition: all 0.12s ease-in-out;
}

.personalise-input input:checked + label .label-img {
  filter: brightness(1) opacity(1);
}
.label-text{
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
@media(hover:hover){
  .label-img:hover{
    filter: brightness(1) opacity(0.7);
  
  }

  .label-container:hover .label-text{
    opacity: 0;
    
  }
}
/* Inputs */

.disable-num{
  margin: 0 auto;
  text-align: center;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;

}

input[type='number']:focus{
  outline: none;
  background-color: rgba(211, 211, 211,0.5);
  border-radius: 0.5rem;

}

.custom-shadow{
  box-shadow: 0px 0px 10px rgb(0,0,0,.3);
}

input[type='text']::-webkit-inner-spin-button,
input[type='text']::-webkit-outer-spin-button {
  -webkit-appearance: none;

}

input[type='text']:focus{
  outline: none;
  /* background-color: rgba(211, 211, 211,0.5); */
  box-shadow: 0px 0px 10px rgb(0,0,0,.3);
  border-radius: 0.5rem;

}

.width-fit{
  width: fit-content;
}
.custom-text-shadow{
  text-shadow: 0px 2px 16px rgba(0,0,0), 0px 2px 8px rgba(0,0,0,0.8)
}

.book-btn{
  color: white;
  padding:0.5rem 1rem;
  border-radius: 0.8rem;
  transition: all 0.12s ease-in-out;
@apply bg-primary 
}

.book-btn:hover{
  transform: scale(0.96);
}