.home-carousel{
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fit, minmax(250px,1fr)); */
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
    gap: 8px;
    width: 120vw;
    padding-bottom: 4rem;
}

.home-carousel > a{
    background-color: lightgray;
    height: 240px;
    flex-grow: 1;
    min-width: 240px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 8px;
    transition: all 0.3s ease-in-out;
}

.home-carousel > a:hover{
    background-color: rgb(180, 180, 180);
}

.home-barber{
    position: relative;
    overflow: hidden;
}

.home-a-image{
    position: absolute;
    top: -50%;
    left: 0;
    z-index: 0;
    transition: all 2s ease-in-out;
}

.home-a-image:hover{
    transform: scale(1.1);
}