.home-carousel{
    display: flex;
    gap: 8px;
}

.home-carousel > a{
    background-color: lightgray;
    height: 240px;
    width: 240px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 8px;
    transition: all 0.3s ease-in-out;
}

.home-carousel > a:hover{
    background-color: rgb(180, 180, 180);
}