@tailwind base;
@tailwind components;
@tailwind utilities;

.discover-barber-container{
    width: 200px;
    height: 300px;
    background-color: rgb(211, 211, 211);
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    border-radius: 16px;
    padding: 8px;
    transition: all 0.3s ease-in-out;
}
.discover-barber-container:hover{
    background-color: rgb(180, 180, 180);

}
.discover-carousel{
    display: flex;
    gap: 8px;
}


.home-carousel{
    display: flex;
    gap: 8px;
}

.home-carousel > a{
    background-color: lightgray;
    height: 240px;
    width: 240px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 8px;
    transition: all 0.3s ease-in-out;
}

.home-carousel > a:hover{
    background-color: rgb(180, 180, 180);
}

.home-barber{
    position: relative;
    overflow: hidden;
    height: 240px;
    width: 240px;
}

.home-b-image{
    top: 0;
    left: 0;
    height: 240px;
    width: 240px;
    max-width: 240px;
    object-fit: cover;
    z-index: 0;
    transition: all 2s ease-in-out;
}

.home-b-image:hover{
    transform: scale(1.1);
}

.personalise-tags{
    padding: 0.2rem 0.6rem;
    border-radius: 2rem;
    background-color: lightgray;
}

.deal-tag{
    padding: 0rem 0.6rem;
    border-radius: 0.5rem;
    background-color: #FF5678;
    width: fit-content;
    color: white;
}

.subscribe-tag{
    padding: 0rem 0.6rem;
    border-radius: 0.5rem;
    background-color: #FFD056;
    width: fit-content;
    color: white;
}

.mentalCare-tag{
    padding: 0rem 0.6rem;
    border-radius: 0.5rem;
    background-color: hsl(183, 95%, 43%);
    width: fit-content;
    color: white;

}

.book-btn{
    color: white;
    padding:0.5rem 1rem;
    border-radius: 0.8rem;
    transition: all 0.12s ease-in-out;
@apply bg-primary 
}

.book-btn:hover{
    transform: scale(0.96);
}